html,
body {
  width: 100%;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-image: url('https://img.freepik.com/free-vector/orange-question-mark-background-with-text-space_1017-27394.jpg?t=st=1711719125~exp=1711722725~hmac=8e729caa3356bd65ec87d05da79197467b5e09146a38028b95df91ecfdcd7e6b&w=740');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 110%;
  margin: 0px;
}

* {
  margin: 0px;
}

.home-page {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('https://img.freepik.com/premium-photo/light-bulb-as-symbol-creativity-innovation-mixed-media_641298-12812.jpg?w=1060');
  /* background-color: brown; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  object-fit: cover;
  z-index: 999;
  transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.home-page.remove {
  transform: translateX(-100%);
}

.home-page-container {
  width: 80%;
  max-height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  /* Adjust the color and opacity for the glass effect */
  /* backdrop-filter: blur(4px); */
  /* Add blur effect to the background */
  border-radius: 20px;
  text-align: center;
  padding: 0px 20px 20px 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-top: 10px;
}

.home-page-container ul {
  list-style: none;
  padding: 0px;

}

.home-page-container h3 {
  margin-top: 20px;
  color: #c4b5fd;
}

.home-page-container p {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: white;

}

.game-name {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: #facc15;
  text-align: center;
  margin-top: 25px;
}

.game-name p {
  color: #bef264;
  font-size: 18px;
  margin-top: 2px;
  font-weight: 600;
}

.button-container {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.button-container button {
  padding: 10px 40px 10px 40px;
  border-radius: 60px;
  border: none;
  background-color: green;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  animation: shake-next-ridd-btn 0.2s infinite alternate;
  font-family: "Ubuntu", sans-serif;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

/*Music icon Styling*/
#music-container {
  position: fixed;
  top: 10px;
  left: 10px;
}

#music-icon-img {
  font-size: 30px;
}

#music-icon {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

#music-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 4px;
  /* Adjust the thickness of the line */
  background-color: red;
  /* Adjust color of the line */
  transform: translate(-50%, -50%) rotate(45deg);
  /* Adjust rotation angle */
  transition: opacity 0.3s ease-in-out;
  /* Add transition for smoother appearance */
  opacity: 0;
  /* Initially hide the cross overlay */
}

.paused #music-icon::after {
  opacity: 1;
  /* Show the cross overlay when music is paused */
}

/*Score Board Styling*/
.score-container {
  margin-top: 20px;
  text-align: center;
  background-color: #a3e635;
  padding: 5px 60px 5px 60px;
  border-radius: 80px;
}

#score {
  padding-top: 3px;
  font-size: 35px;
  font-weight: 900;
  color: #1a2e05;
}

/*Riddle box*/
#level-riddle {
  font-size: 26px;
  font-weight: 600;
  color: #fcd34d;
  background-color: rgba(0, 0, 0, 0.7);

  padding: 15px;
  border-radius: 30px 30px 0 0;
}

#riddle {
  overflow-y: scroll;
  width: 100%;
  max-height: 150px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 900;
  background-color: rgba(49, 46, 129, 0.9);
  color: white;
  padding: 15px;
  border-radius: 30px;
  line-height: 32px;
}

/*Enter Answer*/
#type-answer {
  width: 200px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  padding: 14px;
  border: 2px solid black;
  border-radius: 28px;
  text-align: center;
  background-color: whitesmoke;
  font-family: "Ubuntu", sans-serif;
}

/*Check Answer button*/
#check-answer-btn {
  width: 100px;
  font-size: 18px;
  padding: 10px;
  border-radius: 24px;
  font-weight: 600;
  color: white;
  background-color: green;
  border: none;
  font-family: "Ubuntu", sans-serif;
}

@keyframes shake-check-ans-btn {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake-check-ans-btn 0.5s ease-in-out;
}

/*Hint icon*/
.fa-lightbulb {
  font-size: 40px;
  margin-bottom: 30px;
  color: #0d9488;
  cursor: pointer;
}

/*Hint PopUp Styling*/
#hint-icon {
  text-align: center;
  outline: none;
}

.hint-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  /* backdrop-filter: blur(5px); */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%) scale(0);
  /* Start from bottom position */
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* Use cubic-bezier for both in and out transitions */
}

.hint-container {
  display: none;
  text-align: center;
  width: 300px;
  height: 400px;
  background-image: url(https://img.freepik.com/premium-vector/questions-mark-illustration_774564-255.jpg?w=996);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  border-radius: 10px;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%) translateY(100%) scale(0);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hint-wrapper.active {
  display: block;
  transform: translateX(-50%) translateY(0) scale(1);
  /* Move to top position */
}

.hint-container.active {
  display: block;
  transform: translateX(-50%) translateY(0) scale(1);
  /* Move to top position */
}

#close-hint-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  font-size: 25px;
  font-weight: 600;
  background: red;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50%;
}

#hint-title {
  font-size: 50px;
  padding: 10px;
}

#hint-text {
  position: absolute;
  width: 80%;
  max-height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  line-height: 32px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  color: white;
  font-weight: 700;
  padding: 10px;
}

/*Correct Answer PopUp Styling*/
.correct-answer-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  /* backdrop-filter: blur(5px); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* Use cubic-bezier for both in and out transitions */
}

.correct-answer-container {
  display: none;
  text-align: center;
  width: 300px;
  height: 300px;
  background-image: url(https://img.freepik.com/free-vector/product-quality-concept-illustration_114360-7301.jpg?w=996&t=st=1711715338~exp=1711715938~hmac=8cb2009172c1ea511e0b16b15997f8b91e4bed75ad24e3f422e2f86183ba3bf4);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  border-radius: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* Use cubic-bezier for both in and out transitions */
}

.correct-answer-wrapper.active {
  display: block;
  transform: translate(-50%, -50%) scale(1);
}

.correct-answer-container.active {
  display: block;
  transform: translate(-50%, -50%) scale(1);
}

.xyz {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.conguratulation-msg {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 20px;

  color: white;
  font-size: 50px;
  font-weight: 900;
  line-height: 36px;
  margin-bottom: 10px;
}

#next-riddle-btn {
  padding: 10px 40px 10px 40px;
  border: none;
  border-radius: 70px;
  font-size: 24px;
  background-color: blueviolet;
  color: white;
  font-weight: 700;
  animation: shake-next-ridd-btn 0.2s infinite alternate;
  /* Shake animation */
  animation-delay: 2s;
}

@keyframes shake-next-ridd-btn {
  0% {
    transform: translateX(4px);
    /* Move left */
  }

  100% {
    transform: translateX(-4px);
    /* Move right */
  }
}

@keyframes popUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  70% {
    transform: translate(-50%, -50%) scale(1.05);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}